{
  "branches": [
    { "name": "master", "prerelease": false },
    { "name": "develop", "prerelease": "rc" }
  ],
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/release-notes-generator",
      {
        "writerOpts": {
          "headerPartial": ""
        }
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "mythbound-windows/client.zip",
            "name": "mythbound-windows-v${version}.zip",
            "label": "Windows Client"
          },
          {
            "path": "mythbound-linux/client.tar.gz",
            "name": "mythbound-linux-v${version}.tar.gz",
            "label": "Linux Client"
          },
          {
            "path": "mythbound-macos/client.zip",
            "name": "mythbound-macos-v${version}.zip",
            "label": "macOS Client"
          }
        ]
      }
    ]
  ]
}
